<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="icon" type="image/x-icon" href="{{url_for('static' , filename = 'favicon.png')}}">
    <link rel="stylesheet" href="{{url_for('static' , filename='home.css')}}">


    <title>ProgAI</title>
</head>
<body>


  
<div id="particle-container">
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
</div>




    <!-- NavBar -->

    <nav class="navMenu">
        <a href="#">Home</a>
        <a href="#">Blog</a>
        <a href="#">Work</a>
        <a href="#">About</a>
        <div class="dot"></div>
      </nav>




      <!-- Welcome text -->
      <span class="cont">
   <div class="wrapper">
        <div class="typing-demo">
          Welcome to <span style="color:rgb(216, 136, 203) ;">ProgAI</span> 👋
        </div>
    </div>

</span>

      <!-- button -->

      <button class="noselect" style="display:grid ;">herg</button>



  
   





      <!-- animated background -->

    



    
</body>
</html>